@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 205 57% 90%;
		--foreground: 0 0% 3.9%;
		--background-accent: 205 57% 88.5%;

		--muted: 205 57% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 205 57% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 205 57% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 205 57% 89.8%;
		--input: 205 57% 75.2%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 205 57% 88.5%;
		--secondary-foreground: 0 0% 9%;

		--accent: 205 57% 96.3%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 63.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 205 57% 6%;
		--background-accent: 205 57% 4%;
		--foreground: 0 0% 97%;

		--muted: 205 57% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 205 57% 3.9%;
		--popover-foreground: 0 0% 97%;

		--card: 205 57% 3.9%;
		--card-foreground: 0 0% 97%;

		--border: 205 57% 14.9%;
		--input: 205 57% 14.9%;

		--primary: 205 57% 97%;
		--primary-foreground: 0 0% 9%;

		--secondary: 205 57% 14.9%;
		--secondary-foreground: 0 0% 97%;

		--accent: 205 57% 14.9%;
		--accent-foreground: 0 0% 97%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 0 0% 14.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html.dark pre[data-theme='light'],
html.dark code[data-theme='light'] {
	display: none;
}
html.light pre[data-theme='dark'],
html.light code[data-theme='dark'] {
	display: none;
}

code {
	counter-reset: line;
}

code > [data-line]::before {
	counter-increment: line;
	content: counter(line);

	/* Other styling */
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
	width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
	width: 3rem;
}
